.navbar-nav {
  flex-grow: inherit;
  justify-content: center;

}

.nav-link {
  color: #000000;
}
.banner {
  color: #ffffff;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 111px;
}
